/* Pretty printing styles. Used with prettify.js.
 *
 * This version is slight modified based on the original version.
 *
 * Name:    Stanley Ng
 * Email:   stanleyhlng@googlegroups.com
 *
 * Reference:
 * http://code.google.com/p/google-code-prettify/source/browse/trunk/src/prettify.css
 */
.pln {
  color: #41c9ec; }

.str {
  color: #d96e79; }

.kwd {
  color: #d55e67; }

.com {
  color: #a79e8a;
  font-style: italic; }

.typ {
  color: #4976ff; }

.lit {
  color: #d55e67; }

.pun {
  color: #7c6a69; }

.opn {
  color: #7c6a69; }

.clo {
  color: #7c6a69; }

.tag {
  color: #d9742d; }

.atn {
  color: #a79e8a; }

.atv {
  color: #698b22; }

.dec {
  color: #d9742d; }

.var {
  color: #d9742d; }

.fun {
  color: #7966ff; }

/* Put a border around prettyprinted code snippets. */
pre.prettyprint {
  background-color: #Ffffff;
  padding: 0.625em;
  border: 0.0625em solid #1e1e17; }

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  color: #Ffffff;
  margin: 0 0 0 2.5em; }

ol.linenums li {
  line-height: 1.125em;
  padding-left: 0.75em; }
