/* Pretty printing styles. Used with prettify.js.
 *
 * This version is (2021-08-10: totally, I needed to invert source
   blocks colors) modified based on the original version.
 *
 * Name:    Stanley Ng
 * Email:   stanleyhlng@googlegroups.com
 *
 * Reference:
 * http://code.google.com/p/google-code-prettify/source/browse/trunk/src/prettify.css
 */
.pln {
  color: #4241c9c9ecec; }

.str {
  color: #d9d96e6e7979; }

.kwd {
  color: #7a796666ffff; }

.com {
  color: #a7a79e9e8a8a;
  font-style: italic; }

.typ {
  color: #4a497676ffff; }

.lit {
  color: #d5d55e5e6767; }

.pun {
  color: #7c7c6b6a6969; }

.opn {
  color: #7c7c6b6a6969; }

.clo {
  color: #7c7c6b6a6969; }

.tag {
  color: #d9d974742d2d; }

.atn {
  color: #a7a79e9e8a8a; }

.atv {
  color: #d5d55e5e6767; }

.dec {
  color: #d9d974742d2d; }

.var {
  color: #d9d974742d2d; }

.fun {
  color: #0000ffffffff; }

/* Put a border around prettyprinted code snippets. */
pre.prettyprint {
  background-color: white;
  padding: 0.625em;
  border: 0.0625em solid #1e1e1e1e1717; }

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  color: #b3b399999393;
  margin: 0 0 0 2.5em; }

ol.linenums li {
  line-height: 1.125em;
  padding-left: 0.75em; }
